<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiKosTaja"
        tools:targetApi="31">

        <activity
            android:name=".Pencari.pusatbantuan"
            android:exported="false" />
        <activity
            android:name=".AddDataKost.Add_datakos"
            android:exported="false" />
        <activity
            android:name=".AddDataKost.Add_datakos1"
            android:exported="false" />
        <activity
            android:name=".Pemilik.update_datakost"
            android:exported="false" />
        <activity
            android:name=".Pencari.Detail_kos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pemilik.chat_admin"
            android:exported="false" />
        <activity
            android:name=".Pemilik.view_data_kost"
            android:exported="false" />
        <activity
            android:name=".Pemilik.view_list_kost"
            android:exported="false" />
        <activity
            android:name=".Pencari.chat_user"
            android:exported="true" />
        <activity
            android:name=".Pemilik.profil_admin"
            android:exported="true" />
        <activity
            android:name=".Pencari.profil_user"
            android:exported="true" />
        <activity
            android:name=".Pencari.bantuan_user"
            android:exported="true" />
        <activity
            android:name=".Pemilik.bantuan_admin"
            android:exported="true" />
        <activity
            android:name=".Pencari.edit_profil_user"
            android:exported="true" />
        <activity
            android:name=".Pemilik.edit_profil_admin"
            android:exported="true" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".LupaPassword"
            android:exported="true" />
        <activity
            android:name=".Pemilik.MainActivity_Admin"
            android:exported="true" />
        <activity
            android:name=".Pencari.MainActivity_User"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8729427874158192~3164306388"/>

    </application>

</manifest>